 body,
 html {
   height: 100%;
   display: flex;
   flex-direction: column;
 }

 :root {
   --blanco: #ffffff;

   --rojo-ambar: #ad3e58;

   --rosa-estructura: #dda5bf;

   --rosa-claro: #c7769c;
   --rosa-oscuro: #a76483;

   --verde-claro: #408563;
   --verde-oscuro: #28754e;

   --rojo-claro: #bb5a5a;
   --rojo-oscuro: #cc5e5e;
 }

 /* Estilos del header */
 .header-kawaii {
   background-color: var(--rosa-estructura);
   box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
 }

 .navbar-brand {
   color: var(--blanco);
   font-weight: bold;
   font-size: 1.5rem;
 }

 .nav-link {
   color: var(--blanco);
   font-weight: 500;
 }

 .nav-link:hover {
   color: var(--rojo-ambar);
 }

 .btn-primary {
   background-color: var(--rosa-claro);
   color: --blanco;
   border: none;
 }

 .btn-success {
   background-color: var(--verde-claro);
   color: --blanco;
   border: none;
 }

 .btn-danger {
   background-color: var(--rojo-claro);
   color: --blanco;
   border: none;
 }

 .btn-primary:hover,
 .btn-secondary:hover {
   background-color: var(--rosa-oscuro);
   color: --blanco;
 }

 .btn-success:hover {
   background-color: var(--verde-oscuro);
   color: --blanco;
 }

 .btn-primary:hover,
 .btn-secondary:hover {
   background-color: var(--rosa-oscuro);
   color: --blanco;
 }

 /*footer */
 .footer-kawaii {
   background-color: var(--rosa-estructura);
   color: var(--blanco);
   font-weight: bold;
 }

 .footer-kawaii .text-muted {
   color: #9e9e9e;
 }

 .content {
   flex: 1;
 }

 .main {
   min-height: 80%;
 }

 .div-general {
   padding: 3;
   margin-top: 1;
   margin-bottom: 5;
 }

 .container {
   flex-grow: 1;
 }